html {
  width: 100%;
  height: 100%;
  background: coral;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 60%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.track-list {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: -20px;
}

.picker {
  height: 300px;
  width: 900px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  position: relative;
}

.picker::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.picker-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.picker-list li {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.3;
  transition: transform 0.4s ease, opacity 0.5s ease;
}

.picker-list li.active {
  font-size: 30px;
  font-weight: bold;
  transform: scale(1.3);
  opacity: 1;
}

li.spacer {
  height: 100px;
  pointer-events: none;
  opacity: 0;
}
